.button-helped {
	color: #ff6700;
	font-family: Khabensky;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	display: flex;
	align-items: center;

	&__icon {
		width: 28px;
		height: 28px;
		background: url(/images/button-helped.svg) no-repeat;
		display: block;
		margin-right: 13px;
		background-size: contain;
	}

	&__text {
		padding-top: 3px;
	}

	@media (max-width: 768px) {
		font-size: 13px;

		&__icon {
			width: 20px;
			height: 20px;
			margin-right: 7px;
		}

		&__text {
			white-space: nowrap;
		}
	}
}
