<template>
	<div class="footer-social">
		<ul class="footer-social__list">
			<li class="footer-social__item" v-for="item in items" v-bind:key="item.id">
				<a href class="footer-social__link">
					<img v-lazyload :data-src="item.src" alt class="footer-social__pic">
				</a>
			</li>
			<!-- /.footer-social__item -->
		</ul>
		<!-- /.footer-social__list -->
	</div>
	<!-- /.footer-social -->
</template>

<script>
export default {
	data() {
		return {
			items: [
				{ id: 1, src: "/images/footer-social__pic_vk.png" },
				{ id: 2, src: "/images/footer-social__pic_fb.png" },
				{ id: 3, src: "/images/footer-social__pic_od.svg" },
				{ id: 4, src: "/images/footer-social__pic_inst.png" }
			]
		};
	}
};
</script>

<style lang="scss" src="@/components/footer/footer-social/footer-social.scss"></style>

