<template>
	<div class="pagination">
		<div v-if="counter" class="pagination__counter">
			<span>{{ counter }}</span>
			</div>
		<template v-else>
			<div class="pagination__loader">
			<span>Ещё</span>
			</div>
			<div class="pagination__scrollup"></div>
		</template>
	</div>
</template> 

<style lang="ru" src="@/components/pagination/pagination.scss"></style>

<script>
export default {
	props: [
		'counter',
		'lastIndex'
	]
};
</script>
