<template>
	<div class="logo">
		<nuxt-link to="/" class="logo__link">
			<img v-lazyload :data-src="'/images/logo.png'" :data-m-src="'/images/logo768.png'" alt class="logo__pic">
		</nuxt-link>
	</div>
	<!-- /.logo -->
</template>

<style lang="scss" src="@/components/header/logo/logo.scss"></style>

<script>
export default {};
</script>
