.banner-row {
	margin: 0 -13px;
	display: flex;
	justify-content: space-between;

	&__col {
		padding: 0 13px;
		width: calc(100% - 239px);

		&:nth-child(2) {
			width: 239px;
		}
	}

	@media (max-width: 768px) {
		flex-direction: column;

		&__col {
			width: 100% !important;

			&:nth-child(2) {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
		}
	}
}
