<template>
	<section class="container">

		<h1 class="title">Семён Смирнов</h1>

		<NewsDetail /> 

		<div class="container__row">
			<div class="container__col">
				<div class="smtitle">Им тоже нужна помощь</div>
			</div>
			<div class="container__col">
				<nuxt-link to="/children" class="container__link container__link_children">
					Все дети
				</nuxt-link>
			</div>
		</div>

		<div class="indent indent_helpchild">
			<div class="row">
				<div class="col-sm-6" v-for="(item, index) in help" :key="index">

					<HelpChild
						:mClass="'help-child_large'"
						:name="item.name"
						:url="item.url"
						:src="item.src"
						:need="item.need"
						:cash="item.cash" 
					/>

				</div>
			</div>
		</div>

		<div class="smtitle">
			Новости <a href="#ТерапияСчастья" class="smtitle__link smtitle__link_green">#ТерапияСчастья</a>
		</div>

		<div class="indent indent_newsitem">
			<div class="row">
				<div class="col-sm-4" v-for="(item, index) in [1, 2, 3]" :key="index">

					<NewsItem
						:src="'/images/news-item__pic' + item + '.webp'"
						:name="'Премьера Собибора. Каждый билет — помощь детям'"
						:url="'/'"
					/>

				</div>
			</div>
		</div>

	</section>
</template> 

<script>

const newsLists = [
	{
		id: '1'
	}
];

import HelpChild from '@/components/help/help-child/help-child';
import NewsDetail from '@/components/news-detail/news-detail';
import NewsItem from '@/components/news/news-item/news-item';

export default {
	components: {
		NewsDetail,
		NewsItem,
		HelpChild
	},
	data() {
		return {
			help: [
				{
					name: '<span>Иброхимжон Бадалов</span> борется с медуллобластомой червя мозжечка',
					url: '/',
					src: '/images/help-child__pic_large.webp',
					need: '386300',
					cash: '1000000'
				},
				{
					name: '<span>Семёну Смирнову</span> на оплату лечения и приобретение лекарственных препаратов',
					url: '/',
					src: '/images/help-child__pic_large2.webp',
					need: '386300',
					cash: '1000000'
				}
			]
		}
	},
	asyncData ({ params }, callback) {
		let news = newsLists.find(news => news.id === params.id)
		if (news) {
			callback(null, { news })
		} else {
			callback({ statusCode: 404, message: 'Post not found' })
		}
	}
}
</script>