<template>
	<div class="payments-tab">
		<div class="payments-tab__title">
			Остальные способы оплаты
		</div>
		<tabs mClass="tabs__list_purple">
			<tab v-for="(item, index) in tabsItem" :key="index" :name="item" :selected="(index === 0) ? true : false">
				<div class="payments-tab__desc">
					<p>
						Вы можете внести пожертвование через сервисы Интернет-банкинга ряда банков, работающих на платформе Faktura.ru
					</p>	
					<div class="payments-tab__logos">
						<a href="#" class="payments-tab__link" v-for="(item, index) in images" :key="index">
							<img v-lazyload :data-src="item" alt="" class="payments-tab__pic">
						</a>
					</div>
					<p>
						Полный список банков на сайте <a href="Fraktura.ru">Fraktura.ru</a>
					</p>	
					<p><b class="payments-tab__smtitle">Пошаговый гид</b></p>		
					<p>
						1. Авторизуйтесь в Интернет-банке на сайте faktura.ru.<br>
						2. Зайдите в раздел «Платежи», «Оплата услуг».<br>
						3. Введите в поле поиска название услуги «Благотворительный Фонд Константина Хабенского».<br>
						4. Введите сумму к оплате. Также вы можете по желанию указать ФИО конкретного получателя помощи, а также ФИО<br>
						и контактный телефон благотворителя.<br>
						5. Подтвердите операцию смс-кодом. Пожертвование сделано.<br>
						Сервис по оплате услуг в Интернет-банках на технологии Faktura.ru предоставляет Федеральная Система «Город». 
						Автоматизированная система приема платежей за услуги, которыми вы пользуетесь каждый день. Узнайте, какие
						еще услуги позволяет оплачивать Система «Город», на сайте kvartplata.ru 
					</p>
				</div>
			</tab>
		</tabs>
	</div>
</template>

<script>
export default {
	data() {
		return {
			tabsItem: [
				'Терминалы',
				'Онлайн-банки',
				'Платёжные системы',
				'Другое'
			],
			images: [
				'/images/payments-tab__pic1.webp',
				'/images/payments-tab__pic2.webp',
				'/images/payments-tab__pic3.webp',
				'/images/payments-tab__pic4.webp',
				'/images/payments-tab__pic5.webp',
				'/images/payments-tab__pic6.webp',
				'/images/payments-tab__pic7.webp'
			]
		}
	}
}
</script>

<style lang="scss" src="@/components/help/payments-tab/payments-tab.scss"></style>