.header-info {
	display: flex;
	align-items: center;
	position: absolute;
	left: 410px;
	top: 76px;

	&__photo {
		margin-right: 14px;
	}

	&__pic {
		display: block;
	}

	&__desc {
		&:before {
			width: 18px;
			height: 20px;
			content: '';
			display: block;
			background: url("/images/header-info__arrow.svg") no-repeat;
			background-size: contain;
		}
	}

	&__text {
		color: #d14d9c;
		font-family: "PT Sans";
		font-size: 18px;
		font-weight: 700;
		line-height: 29.43px;
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
