<template>
	<div class="news-report">
		<div class="news-report__header">
			<div class="news-report__title">
				Отчеты
			</div>
			<nuxt-link to="/test" href="#" class="news-report__more">
				 Смотреть все отчеты
			</nuxt-link>
		</div>
		<div class="news-report__row">
			<div class="news-report__item" v-for="(item, index) in newsReport" :key="index">
				<div class="news-report__photo">
					<img v-lazyload :data-src="item.src" alt="" class="news-report__pic">
				</div>
				<div class="news-report__desc">
					<div class="news-report__smtitle">{{ item.title }}</div>
					<div class="news-report__text">{{ item.text }}</div>
				</div>
				<nuxt-link to="#" class="news-report__link"></nuxt-link>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			newsReport: [
				{
					src: '/images/news-report__pic1.webp',
					title: 'Спасибо за март',
					text: 'Все самые интересные новости о работе Фонда в марте — в нашем ежемесячном отчете'
				},
				{
					src: '/images/news-report__pic2.webp',
					title: 'Отчет за февраль',
					text: 'Как и всегда, мы благодарим каждого, кто поддерживал нас в прошлом месяце'
				},
				{
					src: '/images/news-report__pic3.webp',
					title: 'Спасибо за февраль',
					text: 'Все самые интересные новости о работе Фонда в марте — в нашем ежемесячном отчете'
				},
				{
					src: '/images/news-report__pic4.webp',
					title: 'Отчет за март',
					text: 'Ищите себя в списке тех, кого мы благодарим за помощь в феврале'
				},
				{
					src: '/images/news-report__pic5.webp',
					title: 'Отчет за январь',
					text: 'Все самые интересные новости о работе Фонда в марте — в нашем ежемесячном отчете'
				},
				{
					src: '/images/news-report__pic6.webp',
					title: 'Отчет за январь',
					text: 'Как и всегда, мы благодарим каждого, кто поддерживал нас в прошлом месяце'
				}
			]
		}
	}
}
</script>


<style lang="scss" src="@/components/news/news-report/news-report.scss"></style>