.news-report {
	padding-top: 10px;

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 14px;
	}

	&__title {
		font-family: Khabensky;
		font-weight: 700;
		color: #313131;
		font-size: 28px;
		line-height: 10.38px;
	}

	&__more {
		font-family: Khabensky;
		font-size: 15px;
		font-weight: 700;
		color: #d14d9c;
		line-height: 8.03px;
	}

	&__row {}

	&__item {
		border-bottom: 1px solid #f3f3f3;
		padding-bottom: 16px;
		margin-bottom: 16px;
		display: flex;
		align-items: center;
		position: relative;
	}

	&__photo {
		width: 120px;
		margin-right: 28px;
		flex-shrink: 0;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__desc {}

	&__smtitle {
		color: #313131;
		font-family: Khabensky;
		font-size: 18px;
		font-weight: 700;
		line-height: 18px;
		margin-bottom: 11px;
	}

	&__text {
		color: #2e2e2e;
		font-family: "PT Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
