.counter-list {
	margin-bottom: 86px;

	&__list {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		padding: 0 32px;
		color: #d14d9c;
		color: #d14d9c;
		font-family: "PT Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;

		&_blue {
			color: #3d94d1;
		}

		&_green {
			color: #78bf42;
		}

		&_orange {
			color: #ff6700;
		}
	}

	&__title {
		white-space: nowrap;
		font-family: Khabensky;
		font-size: 40px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 8px;
	}

	&__item_loader &__title {
		padding-left: 45px;
		background: url(/images/counter-list__loader.svg) no-repeat left 5px;
	}

	&_column {
		margin-bottom: 0;
	}

	&_column & {
		&__list {
			flex-direction: column;
			align-items: flex-end;
		}

		&__item {
			padding: 0;
			text-align: right;
			margin-bottom: 80px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (max-width: 768px) {
		margin-bottom: 60px;

		&__list {
			flex-direction: column;
		}

		&__item {
			font-size: 13px;
			line-height: 16px;
			margin-bottom: 36px;
			padding: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__title {
			font-size: 20px;
			font-weight: 700;
			line-height: 20px;
		}
	}
}
