.banner-small {
	position: relative;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	&__pic {
		display: block;
	}

	&__title {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding: 0 18px;
		display: flex;
		align-items: center;
		color: #ffffff;
		font-family: Khabensky;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
	}

	@media (max-width: 768px) {
		position: relative;
		margin-bottom: 4px;
		height: 52px;
		width: calc(50% - 3px);
		border-radius: 4px;
		overflow: hidden;

		&:last-child {
			margin-bottom: 0;
		}

		&__pic {
			object-fit: cover;
			min-width: 100%;
			min-width: 100%;
			height: 100%;
		}

		&__title {
			color: #ffffff;
			font-family: Khabensky;
			font-size: 11px;
			font-weight: 700;
			line-height: 12px;
			padding: 0 12px;
		}
	}
}
