<template>
	<div class="banner">
		<div class="banner__section">
			<img v-lazyload :data-src="src" alt="" class="banner__pic">
			<div class="banner__desc">
				<div class="banner__title">{{ title }}</div>
				<div class="banner__text">{{ text }}</div>
			</div>
			<a :href="url" class="banner__link"></a>
		</div>
	</div>
</template>

<script>
export default {
	props: [
		'src',
		'title',
		'text',
		'url'
	]
}
</script>

<style lang="scss" src="@/components/banner/banner/banner.scss"></style>