.banner {
	&__section {
		height: 433px;
		border-radius: 7px;
		background-color: #e4edf2;
		position: relative;
		padding: 0 0 0 50px;
		display: flex;
		align-items: center;
	}

	&__pic {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	&__desc {
		max-width: 446px;
		position: relative;
	}

	&__title {
		color: #313131;
		font-family: Khabensky;
		font-size: 48px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 40px;
	}

	&__text {
		color: #2e2e2e;
		font-family: "PT Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	@media (max-width: 768px) {
		margin-bottom: 5px;

		&__section {
			height: 139px;
			border-radius: 4px;
			background-color: #e4edf2;
			padding: 0 0 0 12px;
		}

		&__pic {
			max-width: 154px;
		}

		&__desc {
			max-width: 160px;
			position: relative;
		}

		&__title {
			color: #313131;
			font-family: Khabensky;
			font-size: 15px;
			font-weight: 700;
			line-height: 17.5px;
			margin-bottom: 12px;
		}

		&__text {
			color: #2e2e2e;
			font-family: "PT Sans";
			font-size: 10px;
			font-weight: 400;
			line-height: 10px;
		}
	}
}
