@media (max-width: 768px) {
	.wrapper__menu {
		.logo {
			position: absolute;
			left: 20px;
			top: 24px;
		}

		.menu-header {
			&__list {
				flex-direction: column;
			}

			&__item {
				margin-bottom: 16px;
			}

			&__link {
				font-size: 16px;

				&:before {
					display: none;
				}
			}
		}

		.menu-header-second {
			position: static;

			&__list {
				flex-direction: column;
			}

			&__item {
				margin-bottom: 16px;
			}

			&__link {
				font-size: 16px;

				&:before {
					display: none;
				}
			}
		}

		.header-info {
			margin: 0 -20px;
			padding: 20px;
			top: auto;
			left: auto;
			position: relative;
			border-top: 1px solid #f3f3f3;

			&__photo {
				width: 45px;
				margin-right: 15px;
			}

			&__pic {
				max-width: 100%;
			}

			&__desc {
				&:before {
					display: none;
				}
			}

			&__text {
				font-size: 13px;
				line-height: 16px;
				max-width: 100px;
			}
		}

		.header-help {
			margin: 0 -20px;
			padding: 20px;
			top: auto;
			left: auto;
			right: auto;
			transform: none;
			position: relative;
			border-top: 1px solid #f3f3f3;

			&__row {
				flex-direction: column;
			}

			&__col {
				width: 100%;

				&:first-child {
					display: block;
					padding: 0;
					margin: 0;
				}
			}

			&__text {
				font-size: 13px;
				line-height: 16px;
			}

			&__button {
				width: 200px;
			}
		}

		.wrapper__menuscroll .header-help__info {
			display: block;
			text-align: left;
			padding-top: 16px;
			line-height: 14px;
		}
	}
}
