<template>
	<div class="news-list">
		<div class="news-list__item">
			<div class="news-list__photo">
				<nuxt-link
				 v-bind:to="url"
				 class="news-list__link"
				>
					<img
					 v-lazyload
					 :data-src="src"
					 alt=""
					 class="news-list__pic"
					>
				</nuxt-link>
			</div>
			<div class="news-list__desc" :class="mClass ? 'news-list__desc_indentzero': ''">
				<div class="news-list__name">
					<nuxt-link
					 v-bind:to="url"
					 class="news-list__namelink"
					 v-html="name"
					></nuxt-link>
				</div>
				<div class="news-list__text">
					{{ text }}
				</div>
				<nuxt-link
				 v-bind:to="url"
				 class="news-list__more"
				 v-if="!social"
				>
					{{ more }}
				</nuxt-link>
				<template v-else>
					<div class="news-list__footer">
						<div class="news-list__col">
							<nuxt-link
								v-bind:to="url"
								class="news-list__more"
							>
								{{ more }}
							</nuxt-link>
						</div>
						<div class="news-list__col">

							<SocialItems />

						</div>
					</div>

					<Progress text="Уже собрали " :need="need" :remains="remains" :cash="cash" />

				</template>
			</div>
		</div>
		<template v-if="index % 4 == 0 && index != 0">
			<Pagination v-if="index != lastIndex - 1" :counter="counter" />
			<Pagination v-else :lastIndex="lastIndex" />
		</template> 
	</div>

</template>

<style lang="scss" src="@/components/news/news-list/news-list.scss"></style>

<script>

import SocialItems from '@/components/social/social-items/social-items';
import Progress from '@/components/progress/progress/progress';
import Pagination from '@/components/pagination/pagination';

let pageCounter = 2;

export default {
	props: [
		'index',
		'mClass',
		'url',
		'src',
		'name',
		'text',
		'more',
		'social',
		'need',
		'remains',
		'cash',
		'lastIndex'
	], 
	components: {
		SocialItems,
		Progress,
		Pagination
	},
	data() {
		return {
			counter: pageCounter
		}
	},
	created() {
		if(this.index % 4 == 0 && this.index != 0) {
			pageCounter = pageCounter + 1;
		}
	}
}
</script>
