<template>
	<div class="tabs__field" :class="{ 'active': isActive }">
		<slot></slot>
	</div>
</template>

<script>
export default {
	props: {
		name: {
			required: true
		},
		selected: {
			default: false
		}
	},
	data() {
		return {
			isActive: true
		}
	},
	mounted() {
		this.isActive = this.selected
	}
}
</script>
