.tabs {
	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {}

	&__link {
		transition: all 500ms;
	}

	&_bm & {
		&__list {
			margin-bottom: 47px;
		}

		&__item {
			margin: 0 24px 24px 0;
		}

		&__link {
			height: 88px;
			border-radius: 20px;
			background-color: #eeeeee;
			padding: 0 55px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #b5b5b5;
			font-family: Khabensky;
			font-size: 26px;
			font-weight: 700;
			line-height: 26px;
			cursor: pointer;
		}
	}

	&__list_years,
	&__list_purple {
		margin-bottom: 60px;
		position: relative;

		&:after {
			height: 1px;
			content: "";
			background: #eeeeee;
			position: absolute;
			left: -400%;
			right: -400%;
			bottom: 0;
		}
	}

	&__list_purple {
		margin-bottom: 50px;
	}

	&__list_years &__item {
		margin: 0 24px 0 0;
	}

	&__list_purple &__item {
		margin: 0 55px 0 0;
	}

	&__list_years &__link {
		padding: 0 0 8px;
		color: #adadad;
		font-family: Khabensky;
		font-size: 18px;
		font-weight: 700;
		display: block;
		transition: all 500ms;
		cursor: pointer;
		border-bottom: 1px solid transparent;
	}

	&__list_years &__item.active &__link,
	&__list_years &__link:hover {
		color: #ff6700;
		border-bottom: 1px solid #ff6700;
		position: relative;
		z-index: 1;
	}

	&__list_purple &__link {
		padding: 0 0 16px;
		color: #7f7f7f;
		font-family: Khabensky;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		display: block;
		transition: all 500ms;
		cursor: pointer;
		border-bottom: 1px solid transparent;
	}

	&__list_purple &__item.active &__link,
	&__list_purple &__link:hover {
		color: #774098;
		border-bottom: 1px solid #774098;
		position: relative;
		z-index: 1;
	}

	&_bm &__item:hover &__link {
		color: #9c9c9c;
	}

	&_bm &__item.active &__link {
		background-color: #78c043;
		color: #f0e800;
	}

	&__section {
		width: 100%;
	}

	&__field {
		width: 100%;
		position: absolute;
		left: -2000%;
		opacity: 0;
		transition: opacity 400ms;

		&.active {
			position: static;
			opacity: 1;
		}
	}

	@media (max-width: 768px) {
		&_bm & {
			&__header {
				margin: 0 -12px 26px;
				overflow-x: auto;
				padding: 0 12px;
				scroll-behavior: smooth;
				-webkit-overflow-scrolling: touch;
			}

			&__list {
				margin-bottom: 0;
				height: 100px;
				width: 530px;
			}

			&__item {
				margin: 0 11px 9px 0;
			}

			&__link {
				height: 40px;
				border-radius: 10px;
				padding: 0 16px;
				font-size: 13px;
				line-height: 1;
			}
		}
	}
}
