<template>
	<div class="social-items" :class="mClass">
		<div class="social-items__text">
			Расскажите о нём друзьям:
		</div>
		<div class="social-items__section">
			<a href="#" class="social-items__link" v-for="(img, index) in imgs" :key="index">
				<img v-lazyload :data-src="img" alt="" class="social-items__pic">
			</a>
		</div>
	</div>
</template>

<style lang="scss" src="@/components/social/social-items/social-items.scss"></style>

<script>
export default {
	props: [
		'mClass'
	],
	data() {
		return {
			imgs: [
				'/images/social-items__pic_fb.webp',
				'/images/social-items__pic_vk.webp',
				'/images/social-items__pic_in.webp',
				'/images/social-items__pic_tw.webp',
				'/images/social-items__pic_od.webp'
			]
		}
	}
}
</script>
