<template>
	<nav class="menu-content">
		<ul class="menu-content__list">
			<li class="menu-content__item" v-for="(item, index) in dataItems" :key="index">
				<nuxt-link class="menu-content__link" :class="(index == 0) ? 'active' : ''" to="/test">{{ item }}</nuxt-link>
			</li>
		</ul>
	</nav>	
</template>

<script>
export default {
	props: [
		'dataItems'
	]
}
</script>

<style lang="scss" src="@/components/menu/menu-content/menu-content.scss"></style>