.news-big {
	padding-top: 15px;

	&__title {
		color: #3b97d2;
		font-family: Khabensky;
		font-size: 31px;
		font-weight: 700;
		line-height: 10.38px;
		padding: 0 0 0 12px;
		margin-bottom: 16px;
	}

	&__inner {
		height: 413px;
		border-radius: 7px;
		background-color: #e4edf2;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		position: relative;
	}

	&__desc {
		padding: 35px 30px;
		position: absolute;
		left: 0;
		bottom: 0;
		max-width: 350px;
	}

	&__logo {
		position: absolute;
		left: 30px;
		top: 30px;
	}

	&__smtitle {
		color: #313131;
		font-family: Khabensky;
		font-size: 28px;
		font-weight: 700;
		line-height: 36px;
		margin-bottom: 20px;
	}

	&__text {
		color: #2e2e2e;
		font-family: "PT Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 30px;
	}

	&__date {
		color: #adadad;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 500;
		line-height: 20px;
	}

	&__pic {
		display: block;
	}
}
