<template>
	<section>
		<div class="container">

			<breadcrumbs :breadcrumbs="breadcrumbsItems" />

			<h1 class="title title_bigger">О Фонде</h1>

			<InfoAbout
				mClass="info-about_large"
				src="/images/info-about__pic_main.webp"
				name="Константин Хабенский"
				worker="Основатель Фонда"
				text="Мы мечтаем о том, чтобы благотворительность стала частью 
					повседневной жизни каждого. и движемся в этом направлении:
					уже сегодня вы можете праздновать день рождения и помогать 
					нашим подопечным, покупать определенные товары и помогать
					нашим подопечным, поздравлять друзей со свадьбой и помогать,
					запускать прямую трансляцию в социальных сетях и помогать
					— вариантов великое множество. и движемся в этом направлении:
					уже сегодня вы можете праздновать день рождения и помогать 
					нашим подопечным, покупать определенные товары и помогать
					нашим подопечным,"
				/>

			<Team />

		</div>

		<FundMission />

		<div class="container">
			<SelectAway :src="'/images/select-away__pic2.webp'" />
		</div>

	</section>
</template> 

<script>
import Breadcrumbs from '@/components/breadcrumbs/breadcrumbs';
import InfoAbout from '@/components/info-about/info-about';
import Team from '@/components/fund/team/team';
import FundMission from '@/components/fund/fund-mission/fund-mission';
import SelectAway from '@/components/select-away/select-away';

export default {
	components: {
		Breadcrumbs,
		InfoAbout,
		Team,
		SelectAway,
		FundMission
	},
	data() {
		return {
			breadcrumbsItems: [
				{ url: '/', text: 'Благотворительный фонд Константина Хабенского'},
				{ url: '', text: 'Благотворителям'}
			]
		}
	}
};
</script>