<template>
	<div class="progress">
		<div class="progress__row">
			<div class="progress__col">
				<div class="progress__bar">
					<div v-if="remains" class="progress__line" :style="{ width: + progressWidth + '%'}"></div>
					<div v-else class="progress__full"></div>
				</div>
				<div class="progress__section">
					<div class="progress__text">
						{{ text }} {{ need }} ₽
					</div>
					<div v-if="remains" class="progress__text progress__text_gray">
						Осталось {{ remains }} ₽
					</div>
				</div>
			</div>
			<div class="progress__col">
				<a href="" class="progress__button">
					Помочь
				</a>
				<div class="progress__text progress__text_orange">
					Нужно {{ cash }} ₽
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" src="@/components/progress/progress/progress.scss"></style>

<script>
export default {
	props: [
		'text',
		'need',
		'remains',
		'cash'
	],
	data() {
		return {
			progressWidth: 0
		}
	},
	created() {
		setTimeout(() => {
			this.progressWidth = this.need / this.cash * 100;
		}, 1);
	}
}
</script>
