<template>
	<header class="header">
		<div class="header__inner">

			<div class="header__mhidden">
				<HeaderMenu />
				<HeaderMenuSecond />
				<HeaderInfo />
			</div>
			<Logo />
			<HeaderHelp />

			<div class="header__burger" @click="openMenu">
				<span></span>
			</div>
			<!-- /.header__burger -->
		</div>
		<!-- /.header__inner -->
	</header>
	<!-- /.header -->
</template>

<style lang="scss" src="@/components/header/global/header.scss"></style>

<script>

import HeaderMenu from '@/components/menu/menu-header/menu-header';
import HeaderMenuSecond from '@/components/menu/menu-header-second/menu-header-second';
import Logo from '@/components/header/logo/logo';
import HeaderInfo from '@/components/header/header-info/header-info';
import HeaderHelp from '@/components/header/header-help/header-help';

export default { 
	components: {
		HeaderMenu,
		HeaderMenuSecond,
		Logo,
		HeaderInfo,
		HeaderHelp
	},
	created() {

	},
	methods: {
		openMenu() {
			document.body.classList.add('mobile-menu-show');
		}
	}
};
</script>
