.menu-header-second {
	position: absolute;
	right: 0;
	top: 28px;

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	&__item {
		margin-right: 50px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		color: #484848;
		font-family: "Roboto Slab";
		font-size: 17px;
		font-weight: 400;
		line-height: 27.82px;
		position: relative;
		transition: color 300ms;

		&:before {
			position: absolute;
			width: 4px;
			height: 4px;
			background-color: #754099;
			content: '';
			left: 50%;
			top: -5px;
			margin-left: -2px;
			border-radius: 50%;
			transform: scale(0);
			transition: transform 300ms;
		}
	}

	&__item:hover &__link,
	&__link.nuxt-link-exact-active {
		color: #754099;

		&:before {
			transform: scale(1);
		}
	}
}
