<template>
	<div class="progress-full" :class="mClass">
		<div class="progress-full__bar">
			<div v-if="remains" class="progress-full__line" :style="{ width: + progressWidth + '%'}"></div>
			<div v-else class="progress-full__full"></div>
		</div>
		<div class="progress-full__section">
			<div class="progress-full__text">
				Уже собрали {{ need }} ₽
			</div>
			<div v-if="remains" class="progress-full__text progress-full__text_gray">
				Для борьбы нужно ещё <b>{{ remains }} ₽</b>
			</div>
		</div>
	</div>
</template>

<style lang="scss" src="@/components/progress/progress-full/progress-full.scss"></style>

<script>
export default {
	props: [
		'mClass',
		'need',
		'remains'
	],
	data() {
		return {
			progressWidth: 0
		}
	},
	created() {
		setTimeout(() => {
			this.progressWidth = this.need / (this.need + this.remains) * 100;
		}, 1);
	}
}
</script>
