.programs {
	&__texttop {
		margin-bottom: 50px;
	}

	&__textbottom {
		margin-bottom: 70px;
	}

	&__tabs {
		margin-bottom: 68px;
	}

	&__row {
		margin: 0 -25px 65px;
		display: flex;
		justify-content: space-between;
	}

	&__desc {
		width: calc(100% - 529px);
		padding: 0 25px;
	}

	&__swipers {
		width: 529px;
		padding: 0 25px;
	}

	@media (max-width: 768px) {
		&__texttop {
			font-size: 13px;
			font-weight: 400;
			line-height: 19px;
			margin-bottom: 20px;
		}

		&__tabs {
			margin-bottom: 20px;
		}

		&__row {
			flex-direction: column;
			margin-bottom: 0;
		}

		&__desc {
			width: 100%;
			margin-bottom: 24px;
		}

		&__swipers {
			width: 100%;
		}

		&__textbottom {
			font-size: 13px;
			font-weight: 400;
			line-height: 19px;
			margin-bottom: 40px;
		}
	}
}
