<template>
	<div class="programs">
		<div class="programs__texttop">
			В Фонде работают четыре программы: «Адресная помощь», «Терапия счастья», «Знать и не бояться», «Помощь медицинским учреждениям». Наша цель — развитие направлений и повышение их качества.<br>
			Программы благотворительной помощи — это возможность направить пожертвование в рамках выбранного направления. Вы самостоятельно решаете, на развитие какой области пойдут ваши средства.
		</div>

		<tabs class="tabs_bm programs__tabs">
			<tab v-for="(item, index) in programTabs" :key="index" :name="item" :selected="(index === 0) ? true : false">

				<div class="programs__row">
					<div class="programs__desc">

						<ProgramsObjective />

					</div>
					<div class="programs__swipers">

						<swiper :options="swiperOption" :arrows="false">
							<swiper-slide>
								<ProgramsSlide
									:src="'/images/programs-slide__pic1.webp'"
									:text="'Встреча с Константином Хабенским в РНЦРР'"
									:video="true"
								/> 
							</swiper-slide>
							<swiper-slide>
								<ProgramsSlide
									:src="'/images/programs-slide__pic1.webp'"
									:text="'Встреча с Константином Хабенским в РНЦРР'"
									:video="true"
								/>
							</swiper-slide>
							<swiper-slide>
								<ProgramsSlide
									:src="'/images/programs-slide__pic1.webp'"
									:text="'Встреча с Константином Хабенским в РНЦРР'"
									:video="true"
								/>
							</swiper-slide>
							<swiper-slide>
								<ProgramsSlide
									:src="'/images/programs-slide__pic1.webp'"
									:text="'Встреча с Константином Хабенским в РНЦРР'"
									:video="true"
								/>
							</swiper-slide>
						</swiper>

						<swiper :options="swiperOption" :arrows="false">
							<swiper-slide>
								<ProgramsSlide
									:src="'/images/programs-slide__pic2.webp'"
									:text="'Шестая выездная реабилитационная программав Крыму'"
								/>
							</swiper-slide>
							<swiper-slide>
								<ProgramsSlide
									:src="'/images/programs-slide__pic2.webp'"
									:text="'Шестая выездная реабилитационная программав Крыму'"
								/>
							</swiper-slide>
							<swiper-slide>
								<ProgramsSlide
									:src="'/images/programs-slide__pic2.webp'"
									:text="'Шестая выездная реабилитационная программав Крыму'"
								/>
							</swiper-slide>
							<swiper-slide>
								<ProgramsSlide
									:src="'/images/programs-slide__pic2.webp'"
									:text="'Шестая выездная реабилитационная программав Крыму'"
								/>
							</swiper-slide>
						</swiper>

					</div>
				</div>

			</tab>
		</tabs>

		<div class="title">
			Заголовок функционального текста
		</div>
		<div class="programs__textbottom">
			Развитие благотворительности в России — одна из приоритетных задач Фонда. Это делаем не только мы, но и другие крупные фонды.
			Мы прекрасно понимаем, что не так важно, кому именно человек будет помогать. Важно, что он будет помогать здесь и сейчас. Важно, 
			чтобы каждый понимал, что благотворительность уже стала неотъемлемой частью жизни. Она стала частью всего, что мы делаем: 
			ходим в кино, покупаем продукты в магазине, смотрим телевизор — делаем все это и помогаем. Несколько самых важных задач, 
			которые мы ставим перед собой:
		</div>

		<div class="smtitle">
			<nuxt-link to="/news" class="smtitle__link smtitle__link_pink">
				Все новости о программе «Терапия Счастья»
			</nuxt-link>
		</div>

		<div class="indent indent_newsitem">
			<div class="row">
				<div class="col-sm-4" v-for="(item, index) in news" :key="index">

					<news-item
						:mClass="'news-item_large'"
						:src="'/images/news-item__pic_main' + (index + 1) + '.webp'"
						:name="item.name"
						:url="'/'"
						:text="item.text"
						:date="item.date">
					</news-item>

				</div>
			</div>
		</div>

		<div class="programs__footer">
			<programs-list></programs-list>
		</div>

	</div>
</template>

<script>
import ProgramsList from '@/components/programs/programs-list/programs-list';
import NewsItem from '@/components/news/news-item/news-item';
import ProgramsSlide from '@/components/programs/programs-slide/programs-slide'
import ProgramsObjective from '@/components/programs/programs-objective/programs-objective'

export default {
	components: {
		ProgramsList,
		NewsItem,
		ProgramsSlide,
		ProgramsObjective
	},
	data() {
		return {
			programTabs: [
				'Адресная помощь',
				'Помощь медицинским учреждениям РФ',
				'Терапия счастья',
				'Знать и не бояться',
				'Открытые реанимации'
			],
			news: [
				{
					name: 'Помогайте Фонду вместе с «Уральскими авиалиниями»',
					text: 'Покупая авиабилеты, вы поддерживаете наших подопечных',
					date: '28 Апреля 2018'
				},
				{
					name: 'Как приобщить школьников к благотворительности',
					text: 'Инструкция для родителей, учителей и самих учеников',
					date: '26 Апреля 2018'
				},
				{
					name: 'В Перми прошел Нейроонкологический семинар',
					text: 'Местные врачи и студенты медицинских вузов прослушали цикл лекций лучших специалистов... в сфере нейроонкологии',
					date: '2 Апреля 2018'
				}
			],
			swiperOption: {
                slidesPerView: 1,
				spaceBetween: 20,
				lazy: true
            }
		}
	}
}
</script>

<style lang="scss" src="@/components/programs/programs/programs.scss"></style>