.select-away {
	box-shadow: 0 7px 54px rgba(145, 82, 0, 0.17);
	border-radius: 15px;
	background-color: #ffffff;
	margin-bottom: 98px;
	position: relative;
	z-index: 1;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

	&__desc {
		padding: 30px 50px 20px;
		width: 725px;
	}

	&__title {
		color: #212121;
		font-family: Khabensky;
		font-size: 36px;
		font-weight: 700;
		line-height: 48px;
		margin-bottom: 30px;
	}

	&__section {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin: 0 15px 15px 0;
	}

	&__photo {
		position: relative;
	}

	&__pic {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	@media (max-width: 768px) {
		border-radius: 0;
		margin: 0 -12px 24px;
		padding: 183px 12px 24px;

		&__title {
			font-size: 16px;
			font-weight: 700;
			line-height: 20.01px;
			position: absolute;
			max-width: 140px;
			bottom: calc(100% + 34px);
			margin: 0;
		}

		&__row {
			flex-direction: column-reverse;
		}

		&__desc {
			padding: 0;
			width: auto;
			position: relative;
		}

		&__item {
			width: 100%;
			margin: 0 0 11px;

			&:last-child {
				margin: 0;
			}
		}

		&__pic {
			max-height: 167px;
		}
	}
}
