.breadcrumbs {
	color: #b0b0b0;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 27.82px;
	color: #bababa;
	margin-bottom: 28px;

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	&__item {
		position: relative;
		padding-right: 12px;
		display: flex;
		align-items: center;

		&:after {
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #bababa;
			content: '';
			margin-left: 12px;
			display: block;
		}

		&:last-child {
			padding-right: 0;

			&:after {
				display: none;
			}
		}
	}

	&__link {
		color: #bababa;
	}

	&__text {
		color: #2a2a2a;
	}

	@media (max-width: 768px) {
		font-size: 10px;
		font-weight: 400;
		line-height: 13.91px;
		margin: 0 -12px 20px;
		position: relative;

		&:before {
			position: absolute;
		}

		&__inner {
			padding: 0 12px;
			overflow-x: auto;
			scroll-behavior: smooth;
			-webkit-overflow-scrolling: touch;
		}

		&__list {}

		&__item {
			white-space: nowrap;
		}
	}
}
