.form {
	&__field {
		margin-bottom: 10px;
	}

	&__name {
		color: #656565;
		font-family: "PT Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		margin-bottom: 8px;
	}

	&__hidden {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #393939;
		font-family: "PT Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 1;
		height: 57px;
	}

	&__key {
		height: 57px;
		background: url(/images/form__key.svg) no-repeat center;
	}

	&__input {
		height: 57px;
		box-shadow: inset 0 3px 18px rgba(0, 0, 0, 0.06);
		border-radius: 5px;
		border: 2px solid #f1f1f1;
		background-color: #f6f6f6;
		width: 100%;
		padding: 0 26px;
		color: #505050;
		font-family: "PT Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 1;
	}

	&__textarea {
		height: 57px;
		box-shadow: inset 0 3px 18px rgba(0, 0, 0, 0.06);
		border-radius: 5px;
		border: 2px solid #f1f1f1;
		background-color: #f6f6f6;
		width: 100%;
		padding: 0 26px;
		color: #505050;
		font-family: "PT Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 1;
	}

	&__combox {}

	&__comboxselect {
		height: 57px;
		box-shadow: inset 0 3px 18px rgba(0, 0, 0, 0.06);
		border-radius: 5px;
		border: 2px solid #f1f1f1;
		background-color: #f6f6f6;
		width: 100%;
		padding: 0 26px;
		color: #505050;
		font-family: "PT Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 1;
		background: #fff url(https://icongr.am/fontawesome/angle-down.svg?size=20&color=4f4f4f) no-repeat right 0.75rem center;
		appearance: none;
	}

	&__submit {
		height: 57px;
		border-radius: 5px;
		background-color: #754099;
		width: 100%;
		border: none;
		color: #ffffff;
		font-family: Khabensky;
		font-size: 24px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.1px;
	}

	@media (max-width: 768px) {
		&__field {
			margin-bottom: 16px;
		}

		&__name {
			font-size: 12px;
			white-space: nowrap;
		}

		&__comboxselect,
		&__input,
		&__textarea {
			font-size: 13px;
			padding: 0 16px;
			height: 44px;
		}

		&__hidden {
			height: 44px;
			font-size: 13px;
			letter-spacing: -2px;
		}

		&__key {
			height: 44px;
		}

		&__submit {
			height: 33px;
			border-radius: 3px;
			font-size: 13px;
			padding-top: 4px;
		}

		.row {
			margin-left: -2px !important;
			margin-right: -2px !important;

			[class*=col-] {
				padding-left: 2px !important;
				padding-right: 2px !important;
			}
		}
	}
}
