.wrapper {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	min-height: 100%;
	min-width: 1200px;
	padding-bottom: 240px;

	&__menu {
		display: none;
		z-index: 10000;
	}

	@media (max-width: 768px) {
		min-width: 100%;
		padding: 83px 12px 378px;

		&__menu {
			padding: 76px 20px 20px;
			background-color: #ffffff;
			display: block;
			transform: translate(100%, 0);
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: transform 500ms;
		}

		&__menuscroll {
			height: calc(100vh - 76px);
			overflow-y: scroll;
			overflow-x: hidden;
			scroll-behavior: smooth;
			-webkit-overflow-scrolling: touch;
		}

		&__menuclose {
			right: 20%;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 50px;
			top: 0;
			cursor: pointer;

			span {
				height: 1px;
				width: 30px;
				position: relative;

				&:before,
				&:after {
					position: absolute;
					left: 50%;
					margin: -1px 0 0 -13px;
					top: 50%;
					height: 1px;
					width: 26px;
					background: #754099;
					content: '';
					transform-origin: 50% 50%;
				}

				&:before {
					transform: rotate(-45deg);
				}

				&:after {
					transform: rotate(45deg);
				}
			}
		}

		&__inner {}

		.mobile-menu-show & {
			&__menu {
				box-shadow: 0 0 14px 4px #555;
				transform: translate(20%, 0);
			}
		}
	}
}

.mobile-menu-show {
	overflow: hidden;
}
